Package: tk.ethanrdoesmc.translucency
Name: Translucency Infinity Beta
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Now with Nero10!
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweaks
Conflicts: tk.ethanrdoesmc.translucencysw
Version: infdev-4-1
Installed-Size: 588
