Package: tk.ethanrdoesmc.translucency
Name: Translucency Infinity Beta
Depends: mobilesubstrate
Version: infdev-4
Architecture: iphoneos-arm
Description: Now with Nero10!
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweaks
Conflicts: tk.ethanrdoesmc.translucencysw
