Package: tk.ethanrdoesmc.translucency
Name: Translucency Beta
Depends: mobilesubstrate
Version: Pre2-Beta3-Reworked
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: EthanRDoesMC
Author: EthanRDoesMC
Section: Tweaks
Conflicts: tk.ethanrdoesmc.translucencysw
